.palette {
  border-radius: 6px;
}

.col {
  &:first-of-type > div {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &:last-of-type > div {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  @media (min-width: $mantine-breakpoint-md) {
    &:first-of-type > div {
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 0;
    }

    &:last-of-type > div {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
    }
  }
}
